# GENERAL VARIABLES
CONTAINER_NAME_PREFIX=splitsy-app

# DATABASE VARIABLES
DB_NAME=splitsy
DB_USER=splitsy
DB_PASSWORD=splitsy
DB_LOCAL_VOLUME_PATH=./data/db
DATABASE_URI=postgresql+asyncpg://splitsy:splitsy@db:5432/splitsy

PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
